.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

body{ 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.book {
  width: 225px !important;
  height: 350px !important;
  position:relative;
  text-align: center;
  margin:2.5%;
}

form {
    display: inline-block;
}

/*	 -----	Mobile version 	-----	 */


@media only screen and (max-width: 780px) {

#big-container {
		margin-top: 2em;
}

.alert {
    font-size: 22px;
    width: 100%;
    color: white;
    /* text-align: center; */
    position: absolute;
    height: 1px;
    display: inline-block;
    /* align-items: flex-end; */
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    /* margin-left: 7em; */
    /* margin-top: 6em; */
    display: none;
    z-index: 100;
    /* background-color: #00000061; */
    max-height: fit-content;
    top: 4em;
    left: -1.8em;
    /* margin-right: 200em; */
    /* z-index: 555555; */
}

.alert p {
    width: 100%;
    /* margin: 0; */
    line-height: 1.3;
    width: 100%;
    color: white;
    font-size: 11pt;
    margin-bottom: -0.5em;
    letter-spacing: 1px;
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    min-width: fit-content;
    min-width: fit-content;
    background-color: #393c3f;
    padding: 1.2em 2.2em;
    border-radius: 5px;
    /* margin-right: 7em; */
    border: 1px solid ##0f0f0f;
}

.container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0em;
  padding-bottom: 0em;
  flex-wrap: wrap;
}

.book {
  width: 225px !important;
  height: 350px !important;
  position:relative;
  text-align: center;
  margin:2.5%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.title {
  font-size:22px;
  width: 100%;
  color: #333;
  text-align: center;
  position: absolute;
  top:-30px;
  height: 1px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}



.pag {
  position:relative;
  color: #fff;
  padding: 15px 30px;
  font-size: 11pt;
  letter-spacing:1px;
  bottom: -15px; 
  display: inline-block;
}



footer > div {
	text-align: center;
	margin-top: 2em !important;
}

footer > div  > span {
	margin: 0 0.5em;
}

footer form {
	display: inline-block;
}

footer {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

footer input[type="image"] {
    vertical-align: text-bottom;
}


#container2 {
	padding-top:0.5em !important;
	margin-bottom:2.5em !important;
}

.footer-romanzi {
	margin-top: 2em !important;
}
}	


/*	 -----	Tablet version 	-----	 */

@media only screen and (min-width: 781px) and (max-width: 1024px) {

.container-row {
  /*height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 0em;
   flex-wrap: wrap;
}

.title {
  font-size:22px;
  width: 100%;
  color: #333;
  text-align: center;
  position: absolute;
  top:-30px;
  height: 1px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.title p {
  width: 100%;
  /*margin:0; */
  line-height:1.3;
  width: 100%;
  color: white;
  font-size: 11pt;
  margin-bottom: -0.5em;
  letter-spacing:1px;  
}

.alert {
    font-size: 22px;
    width: 100%;
    color: white;
    /* text-align: center; */
    position: absolute;
    height: 1px;
    display: inline-block;
    /* align-items: flex-end; */
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    /* margin-left: 7em; */
    /* margin-top: 6em; */
    display: none;
    z-index: 100;
    /* background-color: #00000061; */
    max-height: fit-content;
    top: 4em;
    left: -1.8em;
    /* margin-right: 200em; */
    /* z-index: 555555; */
}

.alert p {
    width: 100%;
    /* margin: 0; */
    line-height: 1.3;
    width: 100%;
    color: white;
    font-size: 11pt;
    margin-bottom: -0.5em;
    letter-spacing: 1px;
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    min-width: fit-content;
    min-width: fit-content;
    background-color: #393c3f;
    padding: 1.2em 2.2em;
    border-radius: 5px;
    /* margin-right: 7em; */
    border: 1px solid ##0f0f0f;
}

.book {
  width: 225px !important;
  height: 350px !important;
  position:relative;
  text-align: center;
  margin:2.5%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.pag {
  position:relative;
  color: #fff;
  padding: 15px 30px;
  font-size: 11pt;
  letter-spacing:1px;
  bottom: -15px; 
  display: inline-block;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  /*   position:relative;
  background: #aaa;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 16px;
  letter-spacing:1px;
  border-radius: 50px;
  bottom: -50px;
  display: inline-block;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out; */
}

.book:hover .pag, .book:hover .title {
  opacity: 1;
}

footer > div {
	text-align: right;
	margin-right: 1em;
	margin-top: 2em !important;
}

footer > div  > span {
	margin: 0 0.5em;
}

footer form {
	display: inline-block;
}

footer input[type="image"] {
    vertical-align: text-bottom;
}

.footer-romanzi {
	 position: fixed;
    padding-bottom:0.9em;
	padding-right:3.3em;
    bottom: 0;
    width: 100%;
}

}


/*	 -----	Desktop version 	-----	 */

@media only screen and (min-width: 1025px) {

.container-row {
  width:100%;
  /*height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 0em;
}

.title {
  font-size:22px;
  width: 100%;
  color: #333;
  text-align: center;
  position: absolute;
  top:-30px;
  height: 1px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

.title p {
  width: 100%;
  /*margin:0; */
  line-height:1.3;
  width: 100%;
  color: white;
  font-size: 11pt;
  margin-bottom: -0.5em;
  letter-spacing:1px;  
}

.alert {
    font-size: 22px;
    width: 100%;
    color: white;
    /* text-align: center; */
    position: absolute;
    height: 1px;
    display: inline-block;
    /* align-items: flex-end; */
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    /* margin-left: 7em; */
    /* margin-top: 6em; */
    display: none;
    z-index: 100;
    /* background-color: #00000061; */
    max-height: fit-content;
    top: 4em;
    left: -1.8em;
    /* margin-right: 200em; */
    /* z-index: 555555; */
}

.alert p {
    width: 100%;
    /* margin: 0; */
    line-height: 1.3;
    width: 100%;
    color: white;
    font-size: 11pt;
    margin-bottom: -0.5em;
    letter-spacing: 1px;
    transition: all 1s ease-in-out !important;
    -webkit-transition: all 1s ease-in-out !important;
    min-width: fit-content;
    min-width: fit-content;
    background-color: #393c3f;
    padding: 1.2em 2.2em;
    border-radius: 5px;
    /* margin-right: 7em; */
    border: 1px solid ##0f0f0f;
}

.pag {
  position:relative;
  color: #fff;
  padding: 15px 30px;
  font-size: 11pt;
  letter-spacing:1px;
  bottom: -15px; 
  display: inline-block;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  /*   position:relative;
  background: #aaa;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  font-size: 16px;
  letter-spacing:1px;
  border-radius: 50px;
  bottom: -50px;
  display: inline-block;
  opacity: 0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out; */
}

.book {
  width: 225px !important;
  height: 350px !important;
  position:relative;
  text-align: center;
  margin:2.5%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.book:hover .pag, .book:hover .title {
  opacity: 1;
}

footer > div {
	text-align: right;
	margin-right: 1em;
}

footer > div  > span {
	margin: 0 0.5em;
}

footer form {
	display: inline-block;
}

footer input[type="image"] {
    vertical-align: text-bottom;
}

.footer-romanzi {
	 position: fixed;
    padding-bottom:0.9em;
	padding-right:3.3em;
    bottom: 0;
    width: 100%;
}	

}



.open-book header * {
    color: grey;
}

.book-cover {
  position: absolute;
  z-index:1;
  width: 100%;
  height: 100%;
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  background: #111;
  background-size:cover;
  border-radius: 3px;
  box-shadow: 
    inset 4px 1px 3px #ffffff60,
    inset 0 -1px 2px #00000080;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.cover1 {
  background-image: url('img/yoli.jpg');
}

.cover2 {
  background-image: url('img/busserai.jpg');
}

.cover3 {
  background-image: url('img/nike.jpg');
}

.cover4 {
  background-image: url('img/baratro.jpg');
}

.cover5 {
  background-image: url('img/quinta.jpg');
}

.cover6 {
  background-image: url('img/latte.jpg');
}

.cover7 {
  background-image: url('img/charles.jpg');
}

.cover8 {
  background-image: url('img/mr_x.jpg');
}

.cover9 {
  background-image: url('img/incenso.jpg');
}

.cover10 {
  background-image: url('img/nettuno.jpg');
}

.cover11 {
  background-image: url('img/soffio.jpg');
}

.cover12 {
  background-image: url('img/oniro.jpg');
}

.cover13 {
  background-image: url('img/scoiattolo.jpg');
}

.cover14 {
  background-image: url('img/oltreparco.jpg');
}

.cover15 {
  background-image: url('img/frontiera.jpg');
}

.cover16 {
  background-image: url('img/scegli.jpg');
}

.cover17 {
  background-image: url('img/testasciacallo.jpg');
}

.cover18 {
  background-image: url('img/fiabafaro.jpg');
}

.cover19 {
  background-image: url('img/centrolago.jpg');
}

.cover20 {
  background-image: url('img/punto.jpg');
}

.cover21 {
  background-image: url('img/uomini.jpg');
}

.cover22 {
  background-image: url('img/sfera.jpg');
}

.cover23 {
  background-image: url('img/casa_padre.jpg');
}

.cover24 {
  background-image: url('img/sempre_vicino.jpg');
}

.cover25 {
  background-image: url('img/altromondo.jpg');
}

.cover26 {
  background-image: url('img/olio.jpg');
}



.cover0 {
  background-image: url('img/senzamusica.jpg');
}

.cover00 {
  background-image: url('img/tp.jpg');
}

.cover000 {
  background-image: url('img/carillon.jpg');
}


.coverabd {
  background-image: url('img/deer.png');
}


.book .book-cover {
  background-size: 100% 100%;
}


.effect {
  width: 20px;
  height: 100%;
  margin-left: 10px;
  border-left: 2px solid #00000010;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
  transition: all .5s ease;
}

.light {
  width: 90%;
  height: 100%;
  position: absolute;
  border-radius: 3px; 
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
  top: 0;
  right:0;
  opacity: .1;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.book:hover { cursor:pointer; }

.book:hover .book-cover {
  transform: perspective(2000px) rotateY(-30deg);
  -webkit-transform: perspective(2000px) rotateY(-30deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  box-shadow: 
    inset 4px 1px 3px #ffffff60,
    inset 0 -1px 2px #00000080,
    10px 0px 10px -5px #00000030
}

.book:hover .effect {
  width: 40px;
 /** margin-left:13px;
  opacity: 0.5; **/
}

.book:hover .light {
  opacity: 1;
  width: 70%;
}

.book-inside{
  width: calc(100% - 2px);
  height:96%;
  position:relative;
  top: 2%;
  border: 1px solid grey;
  border-radius:3px;
  background: white;
  box-shadow: 
  10px 40px 40px -10px #00000030,
  inset -2px 0 0 grey,
  inset -3px 0 0 #dbdbdb,
  inset -4px 0 0 white,
  inset -5px 0 0 #dbdbdb,
  inset -6px 0 0 white,
  inset -7px 0 0 #dbdbdb,
  inset -8px 0 0 white,
  inset -9px 0 0 #dbdbdb;
}




/*	 -----	Newsletter 	-----	 */

/* =========================
   INTRO NEWSLETTER (FINAL)
   ========================= */

#introduzione {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  margin-bottom: 3.5em;
}

.intro-box {
  background-color: #ffffff;
  border-radius: 6px;
  max-width: 880px;
  width: 90%;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  overflow: hidden;
}

/* Banner ridotto */

.intro-banner {
  max-height: 180px;
  overflow: hidden;
}

.intro-banner img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.intro-content {
  padding: 2em 2.6em;
  color: #222;
}

/* Titolo e sottotitolo centrati */

.intro-content h1 {
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
}

.intro-content h2 {
  margin-top: 0.4em;
  font-size: 0.95rem;
  font-weight: normal;
  color: #666;
  text-align: center;
  	padding-bottom: 1rem !important;
}

/* Testo */

.intro-content p {
  line-height: 1.25;
  font-size: 0.9rem;
  margin-top: 0 !important;
  margin-bottom: 0.45rem !important;
}

.email-note {
  font-size: 0.85rem;
  color: #666;
  margin-top: 1.2em;
}

.intro-button {
  display: block;
  width: fit-content;
  margin: 1.8em auto 0 auto;
  padding: 0.75em 1.8em;
  background-color: #212529;
  color: #fff;
  text-decoration: none;
  border-radius: 24px;
  font-size: 0.85rem;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.intro-button:hover {
  background-color: #4d5053;
  color: #f4f1e3;
}

/* =========================
   MOBILE
   ========================= */

@media only screen and (max-width: 780px) {

  .intro-banner {
    max-height: 120px;
  }

  .intro-banner img {
    height: 120px;
  }

  .intro-content {
    padding: 1.6em 1.4em;
  }

  .intro-content h1 {
    font-size: 1.4rem;
  }

  .intro-content h2 {
    font-size: 0.9rem;
	padding-bottom: 1.4rem !important;
  }

  .intro-content p {
    font-size: 0.85rem;
  }
}


